<div class="cart-container">
    <nav class="nav-breadcrumb" style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb" color="white">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="breadcrumb-item" href="/">Home</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-item" href="/collections">Collections</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-item" href="#">Item</a></li>
            <li class="breadcrumb-item"><a class="breadcrumb-item" href="#">Cart</a></li>
        </ol>
    </nav>

    <div class="cart-detail-container" style="background: url('/img/cart/cart-bg.jpg'); background-size: 300px;">
        <div class="body-container">
            <div class="thongtinnhanhang-container">
                <div>
                    <h1>ĐẶT HÀNG THÀNH CÔNG</h1>
                </div>
                <div>
                    
                </div>
                <h2 style="display: inline;">THÔNG TIN NHẬN HÀNG</h2> 
                <table class="thongtinnhanhangDH">
                    <tbody id="thongtinnhanhang">
                        
                    </tbody>
                </table>
            </div>
        </div>
        <div class="body-container">
            <div class="giohang-container">
                <h2 style="display: inline;">ĐƠN HÀNG</h2>
                <table class="thongtingiohang">
                    <tr>
                        <th>STT</th>
                        <th>Hình</th>
                        <th>Tên sản phẩm</th>
                        <th>Đơn giá</th>
                        <th>Số lượng</th>
                        <th>Thành tiền (VNĐ)</th>
                    </tr>
                    <tbody id="mycart"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<script src="js/style.js"></script>
<script>
    showthongtinnguoinhan();
    showmycartDH();
</script>