<header>
    <div class="header">
        <div class="header-top-banner">
            <div class="top-banner-block">
                <a href="/collections">
                    <img src="/img/header/MegasaleCampaignT1122_banner_1263x60.jpg" alt="banner image" width="1230px">
                </a>
            </div>
        </div>

        <div class="header-containner">
            <div class="container-bar">
                <div class="icon-page mouse-pointer float-box--left" onclick="location.href='/';">
                    <!-- <img id="icon-logo" src="./assets/img/hearder-bar/fahasa_logo.png" alt="logo"> -->
                </div>

                <div class="menu mouse-pointer dropdown-hover float-box--left">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mục lục
                        </button>
                        <ul class="dropdown-menu">
                            <a href="/collections/vanhoc">
                                <li><button class="dropdown-item" type="button">Sách văn học</button></li>
                            </a>
                            <a href="/collections/khoagiao">
                                <li><button class="dropdown-item" type="button">Sách khoa giáo</button></li>
                            </a>
                            <a href="/collections/kinhte">
                                <li><button class="dropdown-item" type="button">Sách kinh tế</button></li>
                            </a>
                            <a href="/collections/truyen">
                                <li><button class="dropdown-item" type="button">Truyện tranh</button></li>
                            </a>

                        </ul>
                    </div>
                </div>
                <!-- thanh tìm kiếm -->
                <div class="container-bar--mid search float-box--left">
                    <form id="search-form" action="" method="get">
                        <div class="search-pull--left">
                            <!-- hiện danh mục các sản phẩm liên quan -->
                            <div class="search-form dropdown_hover_out">
                                <input type="text" placeholder="Tìm kiếm sản phẩm...">

                                <span class="search-form-btn active btn-default">
                                    <div class="search-click">Search</div>
                                </span>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="container-bar--right float-box--left">
                    <div class="noti-bell float-box--left  mouse-pointer">
                        <a href="">
                            <div class="noti-bell-icon"></div>
                            <span class="noti-bell-label">Thông báo</span>
                        </a>

                    </div>
                    <div class="top-cart float-box--left  mouse-pointer">
                        <div class="top-cart-icon"></div>
                        <a href="/cart">
                            <div class="top-cart-label">Giỏ hàng</div>
                        </a>
                    </div>

                    <div class="top-account float-box--left  mouse-pointer">
                        <div class="btn-login">
                            <a href="/login">
                                <button type="button" class="btn btn-danger">Đăng nhập</button>
                            </a>
                        </div>
                        <div class="btn-register">
                            <a href="/register">
                                <button type="button" class="btn btn-light">Đăng kí</button>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>